.InputDiv{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.EntireScreen{
    font-size: 14px;
    font-weight: 500;   
}

.InputType{
    height: 2em;
    border-radius: 7px;
    border: 1px solid lightslategray;
}

.RememberSpan{
 margin-left: 2%;
}

.InputFontStyle{
    color: #4b4b4b;
}

.InputDivRow{
    display: flex;
    flex-direction: row;
    padding: 7% 0%;
}

.EmptyDiv{
    width:3vw;
}
.MiddleScreen{
    top: 50%;
    left: 50%;
    width: 28em;
    height: 31em;
    transform: translate(-50%, -50%);
    border: 2px solid red;
    border-radius: 1em;
    position: fixed;
}

.LoginButtonDiv{
    text-align: center;
    width: 98%;
    padding: 2%;
}

.ForgetPass{
    color: red;
}
.ForgetPass:hover{
    text-decoration: underline;
}

.Signup{

    color: #4b4b4b;
    font-size: 12px;
    text-align: center;
    padding: 2% 0%;
}
.LoginButton{
    background-color: red;
    width: 100%;
    height: 2rem;
    border: none;
    color: white;
    box-shadow: 0px 2px 12px 3px #ff0000b5;
    letter-spacing: 2px;
}

.ContentPartsignup{
    top: 40%;
    left: 50%;
    width: 22em;
    height: 20em;
    transform: translate(-50%, -50%);
    position: fixed;
}

.errorMessageSugnup{
    color: red;
    text-align: center;
    font-size: 12px;
}

.WelcomeLine{
    color: red;
    text-align: center;
}

.MiddleScreensignup {
    top: 50%;
    left: 50%;
    width: 28em;
    height: 35em;
    transform: translate(-50%, -50%);
    border: 2px solid red;
    border-radius: 1em;
    position: fixed;
}

.errorMessage{
    color: red;
    text-align: center;
    font-size: 12px;
}

.CheckBox{
    margin-top:0.8vh;
}

.ContentPart{
    top: 50%;
    left: 50%;
    width: 22em;
    height: 20em;
    transform: translate(-50%, -50%);
    position: fixed;
}

.HeadingText{
    height: 1em;
    margin: 0em 0em 1em 0em;
    font-size: 2em;
    color: red;
    font-weight: 500;
}
